# This is the configuration file for the bot; most of these settings SHOULD be self explanatory
# Head's up, this is a YAML comment
database:
 host: host
 username: username
 password: password
 database: database
botsettings:
 owner_id: your_discord_id
 server_id: server_id
 channel_id: channel_id
 bot_token: your_bot_token
 game_name: Name to display for Now Playing
 command_prefix: '!'
 description: 'bot description inside single quotes'
 # space seperated list of plugins to enable (file name without extension)
 enabled_plugins: credit_bet logout api_commands cog_admin role_assignment
 # disabled_list_for_personal_information: None
role_assignment:
 # space seperated list...again, for one server only right now, not multiple
 role_list: 'list of role ids seperated by space'
debugging:
 # show debugging information in console
 show_db_info: false