# This is the configuration file for the bot; most of these settings SHOULD be self explanatory
[BotSettings]
owner_id: your_id
server_id: base_server_id
bot_token: your_bot_token
game_name: Set game being played!
command_prefix: !!
description: Your_Bot_Description
sqlite: niftybot.db
# space seperated list of plugings to enable
enabled_plugins: credit_bet logout api_commands role_assignment config_commands general_bot_commands

error_message: There was an error with the requested bot function. Please let the bot owner know to check the error log for more details.

# I do not suggest changing this
not_accepted_message = {0.mention}:
						I'm sorry, you must accept the bot terms of service to use commands.
						I may log the following:
				      	```Your public discord userID
				      	The ID of the server you used in the command
				      	Your current display name
						Information provided to me for different functions, including but not limited to: GW2 Api Commands, Credit Betting```
						Please type {1}accept to accept these terms, which will expand to allow you to use commands in all servers.
						If this makes you uncomfortable, please check with server owners running me to find out what information they might be logging.


[Debugging]
show_db_info: false
error_handle_debugger: false
